@import "tailwindcss";
@plugin "daisyui";

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.nav-link {
  @apply relative font-bold text-white hover:text-pink-400;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
  height: 2px;
  width: 0;
  background-color: #fb64b6;
  transition: width 300ms ease-out;
}

.nav-link:hover::after {
  width: 100%;
}
